/* ContactUs.module.css */

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Use font-display for better performance */
  }

  @font-face {
    font-family: 'Sofia Sans Semi Condensed';
    src: url('/fonts/SofiaSansSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Use font-display for better performance */
  }

.contactContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 450px;
    z-index: 1300;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
    /* border: 1px solid red; */

}
.contactContainerOpen {
    transform: translateY(0);
}
.contactTabOpen {
    /* background-color: #be1200; */
    background-color: var(--yellow01);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    position: fixed;
    width: 35%;
    z-index: 1049;
    bottom: 450px;
    right: 0;
    text-shadow: 1px 1px 2px black;
    transition: bottom 0.5s ease-in-out;
}


.contactTab {
    background-color: var(--yellow01);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    position: fixed;
    width: 35%;
    z-index: 1049;
    bottom: 0;
    right: 0;
    transition: bottom 0.5s ease-in-out;
}


.contactFormContainer {
    background-color: white;
    padding: 20px;
    position: relative;
}

.contactFormHeader {
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px; /* Match this with the image width */
}

.closeButton {
    order: -1;
    background-color: #FFFFFF; 
    color: var(--red01); 
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    margin-right: 10px;
    padding: 10px;
    font-size: 1em; 
}

.submitButtonContainer {
    display: flex; /* Use flexbox to align buttons */
    justify-content: space-between; /* Space between the buttons */
    align-items: center; /* Align buttons vertically */
}

.submitButton {
    background-color: transparent; 
    color: black;
    font-family: "Sofia Sans Semi Condensed", "sans-serif";
    border: none; 
    padding: 10px 20px 10px 10px; 
    cursor: pointer;
    position: relative; 
    font-size: 25px;
    font-weight: bold; 
    text-align: left; 
    padding-right: 2.5rem;
}

.submitButton svg {
    color: #be1200;
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 25px; 
    transition: right 0.3s ease;
}

.submitButton:hover svg {
    right: 5px; /* Move the arrow to the right on hover */
}


.contactForm {
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    justify-content: space-between;
}

.formGroup {
    flex: 1;
    margin: 0 10px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formGroup input, .formGroup textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.phone {
    font-size: 30px;
    font-weight: 500;
    color: #be1200;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1200;
}

.formGroupContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.input {
   background-color: lightgray;
   font-size: larger; 
   color: black;
}

.privacyPolicy, .required {
    font-size: 12px;
    color: gray;
    padding: 10px;
}
.privacyPolicyLink {
    color: #007bff;
    text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ContactPage~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.collegenameForPage {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 30px;
    color: black;
    margin: 0 0 0px 0px;
    font-weight: 600;
    font-style: normal;
  }

.detailsForPage {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 25px;
    color: var(--red01);
    margin: 0 0 0px 0px;
    font-weight: 400;
    font-style: normal;
  }
.detailsCildrenForPage {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 20px;
    color: black;
    margin: 0 0 0px 0px;
    padding: 10px 0 0 0px;
    font-weight: 400;
    font-style: normal;
}

.headerForPage {
    color: var(--red01);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 30px -6px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.15;
    font-size: 100px;
  }
  
  .contactContainerForPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1100px;
    height: 100vh;
  }

  /* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .contactContainer {
        height: auto; /* Adjust height to fit content */
        width: 100%; /* Make contact container full-width */
        right: 0; /* Align to the right */
        left: 0; /* Align to the left */
        transform: translateY(100%); /* Start off-screen */
        transition: transform 0.5s ease-in-out;
        box-sizing: border-box;
    }

    .contactContainerOpen {
        transform: translateY(0); /* Slide into view when active */
        max-height: 100vh; /* 100% of the viewport height */
        overflow-y: auto; /* Allows vertical scrolling */
    }

    .contactTabOpen, .contactTab {
        width: 100%; /* Full-width for contact tabs */
        bottom: 0; /* Adjust as necessary for your content */
        right: 0; /* Align to the right */
        left: 0; /* Align to the left */
    }

    .contactFormContainer {
        padding: 15px; /* Reduce padding for mobile */
    }

    .contactFormHeader, .contactFormContainer img {
        width: calc(100% - 30px); /* Full width minus padding */
        margin: 0 auto; /* Center align */
    }

    .formGroupContainer {
        flex-direction: column; /* Stack form groups vertically */
    }

    .formRow {
        flex-direction: column; /* Stack form fields vertically */
    }

    .formGroup {
        width: 100%; /* Full width for form groups */
        margin-bottom: 10px; /* Space between form groups */
    }

    .submitButton {
        font-size: 18px; /* Adjust submit button font size for mobile */
    }

    .phone {
        font-size: 20px; /* Adjust phone number font size for mobile */
    }

    .overlay {
        /* Ensure overlay covers the whole screen */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .closeButton {
        /* Adjust close button size for mobile */
        font-size: 1.5em;
    }


    /* FOR PAGE */

    /* Hide larger static images on mobile */
    .contactFormContainer img {
        display: none;
    }
    .contactContainerForPage {
        max-width: 100%; /* Limit width to 100% of the viewport */
        padding: 0 20px; /* Add padding on the sides for some space */
        padding-top: 6rem; /* Add padding on the top to account for the header */
        height: auto; /* Adjust height automatically to the content */
        margin: 0 auto; /* Center the container */
    }

    .collegenameForPage,
    .detailsForPage,
    .detailsCildrenForPage,
    .headerForPage {
        text-align: center; /* Center align the text */
        font-size: 20PX; /* Reduce the font size */
        padding: 0 10px; /* Add some padding on the sides */
    }
    
    .formGroup {
        width: 100%; /* Full width for form elements */
        margin: 0 0 10px; /* Adjust margin for form groups */
    }
    .contactFormContainer {
        padding: 10px; /* Reduce padding inside the form container */
        text-align: center; /* Center align the form elements */
        font-weight: 540;

    }


}