/* ContactUs.module.css */

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Use font-display for better performance */
  }

  @font-face {
    font-family: 'Sofia Sans Semi Condensed';
    src: url('/fonts/SofiaSansSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Use font-display for better performance */
  }

.contactContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 450px;
    z-index: 1300;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
    /* border: 1px solid red; */

}
.contactContainerOpen {
    transform: translateY(0);
}
.contactTabOpen {
    /* background-color: #be1200; */
    background-color: cyan;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    position: fixed;
    width: 35%;
    z-index: 1049;
    bottom: 450px;
    right: 0;
    transition: bottom 0.5s ease-in-out;
}


.contactTab {
    background-color: cyan;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    position: fixed;
    width: 35%;
    z-index: 1049;
    bottom: 0;
    right: 0;
    transition: bottom 0.5s ease-in-out;
}


.contactFormContainer {
    background-color: white;
    padding: 20px;
    position: relative;
}

.contactFormHeader {
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px; /* Match this with the image width */
}

.closeButton {
    background-color: #FFFFFF; 
    color: cyan; 
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    font-size: 1em; 
    position: absolute;
    top: 0;
    right: 0;
}

.submitButtonContainer {
    text-align: right; /* Aligns the button to the right */
}

.submitButton {
    background-color: transparent; 
    color: black;
    font-family: "Sofia Sans Semi Condensed", "sans-serif";
    border: none; 
    padding: 10px 20px 10px 10px; 
    cursor: pointer;
    position: relative; 
    font-size: 25px;
    font-weight: bold; 
    text-align: left; 
    padding-right: 2.5rem;
}

.submitButton svg {
    color: #be1200;
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 25px; 
    transition: right 0.3s ease;
}

.submitButton:hover svg {
    right: 5px; /* Move the arrow to the right on hover */
}


.contactForm {
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    justify-content: space-between;
}

.formGroup {
    flex: 1;
    margin: 0 10px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formGroup input, .formGroup textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.phone {
    font-size: 30px;
    font-weight: 500;
    color: #be1200;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1200;
}

.formGroupContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.input {
   background-color: lightgray;
   font-size: larger; 
   color: black;
}

.privacyPolicy, .required {
    font-size: 12px;
    color: gray;
    padding: 10px;
}
.privacyPolicyLink {
    color: #007bff;
    text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ContactPage~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.collegenameForPage {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 30px;
    color: black;
    margin: 0 0 0px 0px;
    font-weight: 600;
    font-style: normal;
  }

.detailsForPage {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 25px;
    color: var(--red01);
    margin: 0 0 0px 0px;
    font-weight: 400;
    font-style: normal;
  }
.detailsCildrenForPage {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 20px;
    color: black;
    margin: 0 0 0px 0px;
    padding: 10px 0 0 0px;
    font-weight: 400;
    font-style: normal;
}

.headerForPage {
    color: var(--red01);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 30px -6px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.15;
    font-size: 150px;
  }
  
  .contactContainerForPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1100px;
    height: 100vh;
  }