/* Footer.module.css */
.footer {
    background-color: white;
    color: black;
    padding: 40px 150px 20px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1150;
}

.footerContent {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.logoSection {
    display: flex;
    padding-bottom: 20px;
}

.addressSocials {
    justify-content: space-between;
    display: flex;
}

.address {
    padding-bottom: 20px;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100px;
    padding-bottom: 20px;
}


.navLinks {
    display: flex; 
    gap: 20px; 
    padding-left: 0; 
  }
  
  .navLinks .link {
    margin: 0 8px; 
    white-space: nowrap; 
  }
  

.footerBottom {
    border-top: 1px solid #ddd; /* Light grey border */
    padding-top: 10px;
    width: 100%;
    text-align: left;
}

.copyright {
    margin: 5px 0; /* Spacing for better readability */
    color: rgb(180, 180, 180);
}

.separatorStyle {
    height: 1.8em;
    background-color: #b0191e;
    text-align: Right;
    color: white;
    font-size: 40px;
    padding: 1rem 2.5em 0px 0px;
    border-top: 1px solid white;
  };

/* Responsive styles */
@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
    }

    .logoSection, .address, .socials, .navLinks {
        margin-bottom: 20px;
    }
}
