/* components/Slideshow.module.css */
.slideshow {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1000;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  @font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Use font-display for better performance */
  }
  
  .active {
    opacity: 1;
  }
  .text {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 150px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
    font-style: normal;
  }
  
  .dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10; /* Make sure dots are above the slides */
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 8px 0; /* Adjust spacing between dots */
    background-color: transparent; /* Dots are transparent by default */
    border: 2px solid #fff; /* Dots are outlined */
    border-radius: 50%;
    display: block; /* Stack dots vertically */
    transition: background-color 0.6s ease;
  }
  
  .activeDot {
    background-color: #fff; /* Active dot is filled */
  }

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .slideshow {
      height: 90vh; /* Adjust height for mobile screens */
  }

  .text {
      font-size: 60px; /* Smaller text for mobile screens, need more possible change */
      padding: 0 10px; /* Padding to prevent text cutting off */
  }

  .dots {
    flex-direction: row; /* Align dots horizontally for mobile */
    top: auto; /* Reset the top property */
    bottom: 10px; /* Position dots at the bottom of the slideshow */
    left: 50%;
    transform: translateX(-50%); /* Center the dots horizontally */
}

  /* Adjust dot size for easier touch */
  .dot {
      height: 20px;
      width: 20px;
      margin: 0px 8px;
  }
  
}
  