/* components/Logo.module.css */
.logo {
    position: fixed;
    top: 0;
    left: 7%;
    background-color: white;
    padding: 10px; 
    z-index: 1100; /* Higher z-index to ensure it's above other elements */
  }
  
  .logo img {
    height: 120px; /* Adjust based on the size of your logo */
  }
  
/* Media query for mobile devices */
@media (max-width: 1000px) { /* Adjust the max-width as needed for your breakpoint */
  .logo {
    left: 0; /* Align to the left edge on mobile */
  }
}