/* components/Logo.module.css */
.logo {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px; /* Adjust the padding as needed */
    z-index: 1100; /* Higher z-index to ensure it's above other elements */
  }
  
  .logo img {
    height: 50px; /* Adjust based on the size of your logo */
  }
  