/* components/Logo.module.css */
.logo {
    position: fixed;
    top: 0;
    left: 7%;
    background-color: transparent;
    padding: 10px; 
    z-index: 1100; /* Higher z-index to ensure it's above other elements */
  }
  
  .logo img {
    height: 120px; /* Adjust based on the size of your logo */
  }
  
/* Media query for mobile devices */
@media (max-width: 768px) {
  .logo {
    left: 0; /* Center logo for mobile */
    padding: 5px;
  }

  .logo img {
    height: 80px; /* Resize logo for mobile */
  }
}
